<p id="notice"><%= notice %></p>
<p id="alert" style="color: red"><%= alert %></p>

<h1>NPI Records</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">
        <%= form_for :npi_record do |form| %>
          Identifier: <%= form.text_field :identifier %><br />
          <span style="margin-left:38px">
            <%= form.submit "Get NPI Record" %>
          </span>
        <% end %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @npi_records.each do |npi_record| %>
      <tr>
        <% npi_record.attributes.keys.each do |label| %>
          <th>
            <%= label %>
          </th>
        <% end %>
      </tr>
      <tr>
        <% npi_record.attributes.values.each do |value| %>
          <th>
            <%= value %>
          </th>
        <% end %>
      </tr>
      <tr>
        <td><%= link_to 'Addresses', npi_record_addresses_path(npi_record_identifier: npi_record.identifier) %></td>
        <td><%= link_to 'Identifiers', npi_record_identifiers_path(npi_record_identifier: npi_record.identifier) %></td>
        <td><%= link_to 'Taxonomies', npi_record_taxonomies_path(npi_record_identifier: npi_record.identifier) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
